<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form method="post" action="/login">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Submit</button>
        
        <div class="signup-link">
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </form>
</body>
</html>
